* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px auto;
  background-color: azure;
}

.movies .movie {
  display: flex;
  background-color: #ffffff;
  width: 454px;
  height: 281px;
  box-shadow: 2px 2px 9px gray;
  margin: 0 15px 36px 15px;
  justify-content: space-between;
}


.movie__poster {
  width: 183px;
}

.movie__title {
  display: flex;
  font-size: 20px;
  line-height: 28px;
  color: black;
  align-items: flex-end;
  margin: 12px 11px 0 auto;
}

.movie__overview {
  width: 228px;
  height: auto;
  overflow: hidden;
  margin-top: 7px;
}

.movie__column {
  margin-right: 20px;
  width: 228px;
}

.movie__release {
  margin-top: 7px;
}

.movie__genres {
  font-size: 12px;
  line-height: 17px;
  margin-top: 7px;
  border: 1px solid #D9D9D9;
  background-color: #FAFAFA;
  text-align: center;
  border-radius: 2px;
  width: 46px;
  height: 20px;
}